python-dotenv
langchain
langchain_community
langchain_core
groq
langchain-groq
pypdf
langchain-chroma
chromadb
streamlit
arxiv
wikipedia
langchain_huggingface
duckduckgo-search
validators
youtube_transcript_api